<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Войти в панель Администратора</h2>

  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{error}}
  </div>
  <div class="alert alert-info" *ngIf="message">
    {{message}}
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
  >
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation">
      <small *ngIf="form.get('email').errors.required">
        Поле Email должно быть заполнено
      </small>
      <small *ngIf="form.get('email').errors.email">
        Введите корректный Email
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
  >
    <label for="password">Пароль:</label>
    <input id="password" type="password" formControlName="password">
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation">
      <small *ngIf="form.get('password').errors.required">
        Введите пароль
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        Пароль должен содержать не менее {{form.get('password').errors.minlength.requiredLength}} знаков.
        Сейчас в нем {{form.get('password').errors.minlength.actualLength}} знака.
      </small>
    </div>
  </div>

  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="form.invalid || submitted"
  >
    Войти
  </button>
</form>
